@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Styles for code snippets */

.snippet {
    background-color: darkgray;
}

.subtitle {
    padding-top: 20px;
}

.references_section {
    padding-top: 20px;
}

/* navbar title text */
.titleText {
    font-family: 'Russo One', sans-serif;
    margin-left: 20px;
    font-style: italic;
}