<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New post</h1>
    <form action="/new_post/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <!-- Need to use HTML codes to avoid markup being interpreted by the browser -->
    <h5>Cheat Sheet (copy and paste markup for insertion to blog posts)</h5>
    <p>&ltb&gt&lt&#47b&gt</p>
    <p>&lti&gt&lt&#47i&gt</p>
    <p>&ltpre&gt&ltcode&gt&lt&#47code&gt&lt&#47pre&gt</p>
    <p>&ltimg class="img-fluid rounded" src=".jpg" alt=""&gt (aim for 900x300)</p>
    <p>&ltp&gtTEXT HERE&lta href="URL HERE" target="_blank" rel="noopener noreferrer"&gtTEXT HERE&lt&#47a&gt.&lt&#47p&gt
     (dont forget https)</p>

</body>

</html>