{% extends 'base.html' %}

<!-- use bootstrapform for rendering the comment form -->
{% load bootstrap %}

{% block post %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ postToView.title }}</h1>

            <hr>

            <!-- Date/Time -->
            <p>{{ postToView.date }}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ postToView.topImage }}" alt="">

            <!-- Post Content -->
            {% if postToView.subtitle != "No subtitle" %}
            <div class="subtitle">
                <p class="lead">{{ postToView.subtitle }}</p>
            </div>
            {% endif %}

            <p>{{ postToView.text1 | linebreaks }}</p>

            {% if postToView.middleImage != "No image" %}
            <img class="img-fluid rounded" src="{{ postToView.middleImage }}" alt="">

            <p class="text-muted">{{ postToView.middleImageDescription }}</p>
            {% endif %}

            {% if postToView.text2 != "No text" %}
            <p>{{ postToView.text2 | linebreaks }}</p>
            {% endif %}

            <hr>

            <div title="Addition images section">

                <!-- <h3>Additional images</h3> -->

                {% if postToView.extraImage1 != "No image" %}
                <img class="img-fluid rounded" src="{{ postToView.extraImage1 }}"
                    alt="{{ postToView.extraImage1Description }}">
                <p class="text-muted">{{ postToView.extraImage1Description }}</p>
                <hr>
                {% endif %}

                {% if postToView.extraImage2 != "No image" %}
                <img class="img-fluid rounded" src="{{ postToView.extraImage2 }}"
                    alt="{{ postToView.extraImage2Description }}">
                <p class="text-muted">{{ postToView.extraImage2Description }}</p>

                <hr>
                {% endif %}

                {% if postToView.extraImage3 != "No image" %}
                <img class="img-fluid rounded" src="{{ postToView.extraImage3 }}"
                    alt="{{ postToView.extraImage3Description }}">
                <p class="text-muted">{{ postToView.extraImage3Description }}</p>

                <hr>
                {% endif %}
            </div>

            {% if postToView.video != 'No video for this post' %}
            <div title="Video section">

                <!--  <h3>Video demonstration</h3> -->
                <div class="d-flex justify-content-center">
                    <iframe width="480" height="320" src="{{ postToView.video }}">
                    </iframe>
                </div>
            </div>
            <hr>
            {% endif %}



            {% if postToView.references != 'No references' %}
            <div class="references_section">
                <h3>References</h3>

                <p>{{ postToView.references | safe | linebreaks }}</p>


            </div>
            {% endif %}

            {% endblock %}


        </div>
    </div>