{% extends 'base.html' %}

<!-- Required for django-embed-video -->
{% load embed_video_tags %}

<!-- use bootstrapform for rendering the comment form -->
{% load bootstrap %}

{% block post %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ post.title }}</h1>

            <hr>

            <!-- Date/Time -->
            <p>Posted on {{ post.date }} by Andrew. Category: <b>{{ post.category }}</b></p>
            <hr>

            <img class="img-fluid rounded" src="{{ post.topImage }}" alt="">

            <!-- Post Content -->
            {% if post.subtitle != "No subtitle" %}
            <div class="subtitle">
                <p class="lead">{{ post.subtitle }}</p>
            </div>
            {% endif %}

            <p>{{ post.text1|safe|linebreaks }}</p>

            {% if post.text2 != "No text" %}
            <p>{{ post.text2|safe|linebreaks }}</p>
            {% endif %}

            <hr>

            {% if post.video != 'No video for this post' %}
            <div title="Video section">
                <h3>Video demonstration</h3>
                {% video post.video 'small' %}
            </div>
            <hr>
            {% endif %}

            {% endblock %}

            {% block comments %}
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <!-- <form action="{% url 'view_post' %}" method="POST"> -->
                    <form action="{% url 'view_post' slug=post.slug %}" method="POST"></form>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form | bootstrap }}
                    </div>
                    <button type="submit" class="btn btn-primary" value="Comment">Submit</button>
                    </form>
                </div>
            </div>

            {% for comment in comments %}
            <!-- Single Comment -->
            <div class="card mb-4">
                <!-- <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt=""> -->
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.name }} said:</h5>
                    {{ comment.text }}
                </div>
            </div>
            {% endfor %}

            {% endblock %}

        </div>
    </div>