{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% load crispy_forms_tags %}

{% block contact_content %}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Contact me</h1>

    <div class="row">
        <div class="col-md-8">
            <p>Feel free to contact me, I'll be sure to get back to you</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form action="/contact/" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>
<!-- /.container -->
{% endblock %}