{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% block about_info %}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">About me
        <!-- <small>Secondary Text</small> -->
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid rounded" src="https://imgur.com/v8j130k.jpg" alt="">
        </div>

        <div class="col-md-4">
            <!-- <h3 class="my-3">About me</h3> -->
            <p>Welcome to my blog, diagonaluniverse.com. My name is Andrew and I love all things computing and
                technology. I especially love software development. I enjoy making games, websites, applications &
                physical computing projects.
            </p>
            <h3 class="my-3">Key Skills</h3>
            <ul>
                <li>Web development (Django, React, Node, Flask...)</li>
                <li>Programming languages (Python, Java, C++, Javascript...)</li>
                <li>Independent game development (SDL, SFML, Android SDK...)</li>
                <li>Computer science (Project management, encryption, algorithms...)</li>
                <li>Physical computing (Raspberry Pi, Arduino, robotics...)</li>
            </ul>
            <h3>GitHub</h3>
            <p>
                You can view my GitHub page <a href="https://github.com/andrewdempsey2018" target="_blank"
                    rel="noopener noreferrer">here</a>.
            </p>
            <h3>Contact details</h3>
            <p>
                You can contact me by filling out this form <a href="https://github.com/andrewdempsey2018" target="_blank"
                    rel="noopener noreferrer">here</a>.
            </p>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}