{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% block about_info %}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">About me
       <!-- <small>Secondary Text</small> -->
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid rounded" src="https://imgur.com/v8j130k.jpg" alt="">
        </div>

        <div class="col-md-4">
            <!-- <h3 class="my-3">About me</h3> -->
            <p>Welcome to my blog, diagonaluniverse.com. My name is Andrew and I love all things computing and technology.
                I especially love software development. I enjoy making games, websites, applications & physical computing projects.
            </p>
            <h3 class="my-3">Key Skills</h3>
            <ul>
                <li>Java</li>
                <li>Linux</li>
                <li>Project management</li>
                <li>MERN, LAMP</li>
                <li>Raspberry Pi</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->


    <!-- Related Projects Row -->

    <h3 class="my-4">Other skills</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://imgur.com/MstTSfV.jpg" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://imgur.com/NN4SOAL.jpg" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://imgur.com/roB4URx.jpg" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://imgur.com/3bHq0mC.jpg" alt="">
            </a>
        </div>
        <!-- /.row -->
    </div>

</div>
<!-- /.container -->
{% endblock %}