<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Diagonal Universe</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>

  {% block post %}
  {% endblock %}

  {% block post_list %}
  {% endblock %}

  {% block about_info %}
  {% endblock %}

  {% block project_detail %}
  {% endblock %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="{% url 'view_post' %}"><img src="{% static 'icon.svg' %}" alt="DU icon" height="32" width="32" /></a>
      <a class="navbar-brand titleText" href="{% url 'view_post' %}">Diagonal Universe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% ifequal request.path '/' %} active {% endifequal %}">
            <a class="nav-link" href="{% url 'view_post' %}">Blog
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {% ifequal request.path '/post_list/' %} active {% endifequal %}">
            <a class="nav-link" href="{% url 'post_list' cat='Projects' %}">Projects</a>
          </li>
          <li class="nav-item {% ifequal request.path '/about' %} active {% endifequal %}">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- <hr> -->

  {% block comments %}
  {% endblock %}

  </div>

  {% block sidebar %}
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Find a blog post by category</h5>
      <!-- <h5 class="card-header">Find a blog post by category or date</h5> -->
      <div class="card-body">
        <div class="row">
          <!-- iterate over the categorys, put the odd numberd ones
            into the left column and the evens to the right -->
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <!-- <li><a href="#">New-Old</a></li> -->
              {% for i, category in categorys %}
              <p>{% if not forloop.counter|divisibleby:2 %}</p>
              <li><a href="{% url 'post_list' cat=category %}">{{ category }}</a></li>
              <!-- <li><a href="#">{{ category }}</a></li> -->
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <!-- <li><a href="#">Old-New</a></li> -->
              {% for i, category in categorys %}
              <p>{% if forloop.counter|divisibleby:2 %}</p>
              <li><a href="{% url 'post_list' cat=category %}">{{ category }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card my-4 text-center">
      <h5 class="card-header">Computer controlled plane</h5>
      <img class="card-img-top" src="https://imgur.com/DBDHKVy.jpg" alt="Card image cap">
      <div class="card-body">
        Check out the source and other information
        <div>
          <a href="{% url 'post_list' cat='Projects' %}" class="btn btn-primary">More info</a></div>
      </div>
    </div>

    <div class="card my-4 text-center">
      <h5 class="card-header">Free Game!</h5>
      <img class="card-img-top" src="https://imgur.com/NRDL9PY.jpg" alt="Card image cap">
      <div class="card-body">
        Space Time is an experimental platformer video game where you control the hero through a series of levels,
        aiming to prevent the collapse of the space time continuum.
        <div><a href="{% url 'post_list' cat='Projects' %}" class="btn btn-primary">More info</a></div>
      </div>
    </div>

  </div>
  {% endblock %}

  </div>
  <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container text-center">
      <!-- <a class="m-0 text-center text-white">back to top</a> -->
      <a href="#top"><img src="{% static 'icon.svg' %}" alt="DU icon" height="64" width="64" /></a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>